<nav class="navbar">
    <div class="navbar-content">
        <div class="navbar-left">
            <h1 class="app-name">AlignExpense</h1>
        </div>
        <div class="navbar-right">
            <span class="role-badge <%= user.role %>"><%= user.role %></span>
            <div class="profile-icon">
                <i class="fas fa-user-circle"></i>
                <span><%= user.name %></span>
            </div>
        </div>
    </div>
</nav>