<div class="stats-card">
    <div class="stats-icon">
        <i class="<%= icon %>"></i>
    </div>
    <div class="stats-content">
        <div class="stats-value"><%= value %></div>
        <div class="stats-label"><%= label %></div>
    </div>
</div>